* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;}

.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.homepage,
.rooms-container,
.activities-container,
.contact-container {
  flex: 1;
}

footer {
  flex-shrink: 0;
}
